
html {
    height:100%;

}
body {
    height:100%;
    width :100%;
    padding:0;
    margin:0;
    overflow: hidden;
    background-color: #f5f3f3;
}
* {
    margin:0;
    padding:0;
}
.All {
    position:relative;
    overflow:scroll;
    left:0;
    top:0;
    height:100%;
    width:100%;
}

.head {
    background-color:#ffd800;
    height:64px;
    width:100%;
     text-align: center;
    box-sizing: border-box;
    padding:20px 15px 6px 15px;
}
.head>img{height: 100%;float: left;}
.head>label
{    height: 38px;
    line-height: 33px;
    margin-left: 15px;
    color: #fff;
    font-weight: bold;}

.smallimg {
    background-color:#fff;
    height:92px;
      overflow-y: scroll;
    width:100%;
    box-sizing: border-box;
    background-color: #00838f;
    padding:5px 0;
    text-align:center;
}
    .smallimg>ul {
        background-color: #fff;
        height:80px;
        display: inline-flex;

    }
        .smallimg>ul>li {
            background-color: #d5d5d5;
               box-sizing: border-box;
               overflow:hidden;
    margin-top: 10px;
    margin-left: 11px;
    border-radius: 10px;
    list-style: none;
    width: 60px;
    height: 60px;
        }
            .smallimg>ul>li>img {
                display:block;
                margin: 0 auto;
                max-height:100%;
                
                background-color:aquamarine;
            }
    .smallimg .active {
        border:3px solid #ff6a00;
        width: 70px;
        height:70px;
        margin-top: 5px;

    }

.detalimg {
    position: relative;
    text-align: center;
       width:100%;
       background-color: #c5c5c5;
           padding: 5px;
    box-sizing: border-box;
}
.imgpoint{
    position: absolute;
    top: 20px;
  
}
.imgpoint>li{
     display: inline;
    width: 5px;
    float: left;
    margin-left: 5px;
    height: 5px;
    border-radius: 50%;
    border: 1px solid #00838f;
}
.imgpoint>  li.active{
    background: #00838f;
}
.imgul{
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
}
.imgul>li{
    list-style: none;
    position: absolute;
    height: 100%;
    background-color:#fff;
    width: 100%;
    background-size:cover;
}
.detailInfo{
    width: 100%;
    height: 130px;
    text-align: left;
    position: relative;
    bottom:0;
}
.detailInfo tr{
    border-bottom: 1px solid #c5c5c5;
}
.detailInfo td{
    height: 25px;
    line-height: 25px;
    width: 50%;
    background-color: #00838f;
}
.detailInfo img{
    margin: 0 15px;
    height: 25px;
    width: 25px;
}
.myimg{
    background-size:cover;
      height: 107px;
    width: 107px;
    margin: 13px 0 0 13px;
    background-color: #00838f;
    border-radius: 7px;
    float: left;
    list-style: none;
}
#addimg{
    background-image: url(img/add.png);
    background-size: cover;
}
.inputinfo{
    position: absolute;
    bottom: 0;
    height: 130px;
    width: 100%;
}
.infoline{
    height: 30px;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #f5f5f5;
}
.icodiv{
float: left;
width: 50%;
height: 100%;
overflow: hidden;
display: flex;
}
.icodiv>img{
    display: block;
    height: 80%;
    margin:0px 15px;
}
.icodiv>input{
    width: 60%;
    flex: 1;
    outline: none;
    border: none;
}
.masterinfo{
    margin-top: 6px;
}
.span_btn{
        padding: 4px 8px;
    border-radius: 5px;
    border: 2px solid #ffffff;
    color: #fff;
    box-shadow: 0 1px 3px 0px rgba(0,0,0,0.35);
}
.span_btn:active{
    background-color: #00838f;
}
.l{float: left;}
.r{float: right;}

.hide{
  transition: all 0.2s;
    transform: rotateX(60deg);
    opacity: 0;
    display: none;
}
.show{
     transition: all 0.3s 0.4s ;
    transform: rotateX(0deg);
    opacity: 1;
}

